*.workspace 
!spec/*.workspace

*.o 
!spec/*.o

*.pdsbak 
!spec/*.pdsbak

*.tre 
!spec/*.tre

*.cof 
!spec/*.cof

*.ccspjt 
!spec/*.ccspjt

*.esym 
!spec/*.esym

*.xsym 
!spec/*.xsym

*.STA 
!spec/*.STA

*.sym 
!spec/*.sym

*.lst 
!spec/*.lst

*.err 
!spec/*.err

*.PJT 
!spec/*.PJT

*.bak 
!spec/*.bak

*Backup*.cdr 
!spec/*Backup*.cdr

*.i 
!spec/*.i

*.p1 
!spec/*.p1

*.d 
!spec/*.d

# Maven
target/
dist/